extends layout

block content
  h1 #{title}
  form(method='POST', action='')
    #form-group
      label Title:
      input.title.form-control(name='title', type='text')
    #form-group
      label Author:
      input.author.form-control(name='author', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body')
    br
    input.btn.btn-primary(type='submit', value='submit')
