extends layout

block content
  .col-md-4
    h1 #{title}
    form(method='POST', action='')
      #form-group
        label Title:
        input.title.form-control(name='title', type='text', value=post.title)

      #form-group
        label Body:
        textarea.form-control(name='body')= post.body
      br
      input.btn.btn-primary(type='submit', value='submit')
