extends layout

block content
  .col-md-4
    p You are deleting this post:
    p #{post.title}
    form(method='POST' action='')
        div.form-group
          input.id.form-control(type='hidden',name='id', required='true', value=post._id )

        button.btn.btn-primary(type='submit') Delete
